<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta inventore blanditiis tempora ducimus tempore ab enim suscipit expedita. Earum provident illum maiores est numquam et commodi fuga nemo nihil deleniti.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil voluptate alias maxime hic quidem quis maiores, doloremque libero, obcaecati at ex? Facere excepturi placeat optio nulla libero tenetur ducimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa cumque aliquid voluptas autem odit labore et natus! Iste ut laborum error unde harum quasi quia maxime vitae. Necessitatibus, sit quis!</p>
</article>
